<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Jackpot Tracker - Settings
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Jackpot Private Website"/>
    <meta name="keywords"
          content="Jackpot"/>
    <meta name="author" content="Tracker"/>

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <!-- Specific CSS goes HERE -->


</head>

<body>

<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>


<nav class="pcoded-navbar navbar-collapsed">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="#" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-zap"></i>
                </div>
                <span class="b-title">Jackpot Tracker - Settings</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username=""
                    class="nav-item ">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="History" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">History</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/get_jackpot_history?instance_name=EPIC" class="">EPIC</a></li>
                        <li class=""><a href="/get_jackpot_history?instance_name=MAJOR" class="">Major</a></li>
                        <li class=""><a href="" class="/get_jackpot_history?instance_name=MINOR">Minor</a></li>
                    </ul>
                </li>

                <li data-username=""
                    class="nav-item ">
                    <a href="/add_jackpot" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span><span class="pcoded-mtext">Settings</span></a>
                </li>


                <li data-username=""
                    class="nav-item ">
                    <a href="/settings" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Settings</span></a>
                </li>


            </ul>
        </div>
    </div>
</nav>


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">


        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Jackpot Tracer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">


                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="float-left">
                                        <h5 class="card-header text-left float-left">Add New Jackpot For tracking</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form action="/add_jackpot" method="POST">
                                                    <div class="form-group">
                                                        <label for="book">JackPot Type</label>
                                                        <select class="form-control" id="jackpot-type" name="jackpot-type">
                                                            <option>EPIC</option>
                                                            <option>MAJOR</option>
                                                            <option>MINOR</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="epic">Jackpot Drop Amount</label>
                                                        <input name="drop-amount" type="text" class="form-control" id="drop-amount" placeholder="Drop Amount">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="major">Instance ID</label>
                                                        <input name="instance-id" type="text" class="form-control" id="instance-id" placeholder="Instance ID">
                                                    </div>


                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>


                                        </div>
                                        <small class="card-footer text-muted">

                                        </small>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->


                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Required Js -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>


    <!-- Specific Page JS goes HERE  -->


</body>
</html>
