<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Jackpot Tracker - History
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Jackpot Private Website"/>
    <meta name="keywords"
          content="Jackpot"/>
    <meta name="author" content="Tracker"/>

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->


</head>

<body>

<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>


<nav class="pcoded-navbar navbar-collapsed">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="#" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-zap"></i>
                </div>
                <span class="b-title">Jackpot Tracker</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item ">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>


                <!--                <li class="nav-item pcoded-menu-caption">-->
                <!--                    <label>Pages</label>-->
                <!--                </li>-->
                <!--                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">-->
                <!--                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>-->
                <!--                    <ul class="pcoded-submenu">-->
                <!--                        <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>-->
                <!--                        <li class=""><a href=/register/ class="">Register</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->


            </ul>
        </div>
    </div>
</nav>


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">


        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">History For this instance</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">


                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">


                                        <br>
                                        <h4>Book Of Relics - NetBet - EPIC</h4> <br>

                                    </div>
                                    <div class="card-block table-border-style ">
                                        <div class="table-responsive table-bordered">
                                            <table class="table ">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Date String</th>
                                                    <th>Date Human</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for data in epic %}
                                                <tr>
                                                    <td> {{data['data']}}</td>
                                                    <td>{{data['date']}}</td>
                                                    <td>{{data['date_natural']}}</td>
                                                    <!--                                                    <td><a href="/get_history?id={{data['instance_epic']}}" target="_blank">Goto</a></td>-->
                                                </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">


                                        <br>
                                        <h4>Book Of Relics - NetBet - MAJOR</h4> <br>

                                    </div>
                                    <div class="card-block table-border-style ">
                                        <div class="table-responsive table-bordered">
                                            <table class="table ">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Date String</th>
                                                    <th>Date Human</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for data in major %}
                                                <tr>
                                                    <td> {{data['data']}}</td>
                                                    <td>{{data['date']}}</td>
                                                    <td>{{data['date_natural']}}</td>
                                                    <!--                                                    <td><a href="/get_history?id={{data['instance_epic']}}" target="_blank">Goto</a></td>-->
                                                </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-header">


                                        <br>
                                        <h4>Book Of Relics - NetBet - MINOR</h4> <br>

                                    </div>
                                    <div class="card-block table-border-style ">
                                        <div class="table-responsive table-bordered">
                                            <table class="table ">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Date String</th>
                                                    <th>Date Human</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for data in minor %}
                                                <tr>
                                                    <td> {{data['data']}}</td>
                                                    <td>{{data['date']}}</td>
                                                    <td>{{data['date_natural']}}</td>
                                                    <!--                                                    <td><a href="/get_history?id={{data['instance_epic']}}" target="_blank">Goto</a></td>-->
                                                </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Hover-table ] end -->


                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>


<!-- Specific Page JS goes HERE  -->


</body>
</html>
