<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Jackpot Tracker
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Jackpot Private Website"/>
    <meta name="keywords"
          content="Jackpot"/>
    <meta name="author" content="Tracker"/>

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <!-- Specific CSS goes HERE -->


</head>

<body>

<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>


<nav class="pcoded-navbar navbar-collapsed">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="#" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-zap"></i>
                </div>
                <span class="b-title">Jackpot Tracker</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item ">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="History" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">History</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/get_jackpot_history?instance_name=EPIC" class="">EPIC</a></li>
                        <li class=""><a href="/get_jackpot_history?instance_name=MAJOR" class="">Major</a></li>
                        <li class=""><a href="/get_jackpot_history?instance_name=MINOR" class="">Minor</a></li>
                    </ul>
                </li>
                <li data-username=""
                    class="nav-item ">
                    <a href="/add_jackpot" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span><span class="pcoded-mtext">Add Jackpot</span></a>
                </li>

                <li data-username=""
                    class="nav-item ">
                    <a href="/settings" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Settings</span></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">


        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Jackpot Tracer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">


                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                {% for data in jackpot_data %}
                                <div class="card">
                                    <div class="float-left">
                                        <h5 class="card-header text-left float-left">{{data['instance_name']}} / NetBet / Book Of Relics</h5>
                                        <div class="float-right">
                                            {% if data.status %}
                                            <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-check" fill="green" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                            </svg>
                                            {% else %}
                                            <div class="float-right">
                                                <div class="spinner-grow text-warning float-right" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>


                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <p class="card-text"><b>Drop Amount:</b> {{data['drop_amount']}} <br>
                                            <b>Last Updated Data:</b> {{data['data']}} <br>
                                        </p>
<!--                                        <a href="/get_jackpot_history?instance_name={{data['instance_name']}}" target="_blank" class="btn btn-sm  btn-success float-left">{{data['instance_name']}}-->
<!--                                            History</a>-->
                                        <a class="btn btn-sm btn-rounded btn-{% if data['notified'] == False %}success{% else %}danger{% endif %}"
                                           href="/toggle_notification?instance_id={{data['instance_id']}}" data-toggle="tooltip" data-placement="top" title="Click to change status">
                                            Notified: {% if data['notified'] == True %}YES{% else %}NO{% endif %}
                                        </a>

                                        <a class="btn btn-sm btn-rounded btn-{% if data['status'] == False %}success{% else %}danger{% endif %}"
                                           href="/toggle_jackpot?instance_id={{data['instance_id']}}" data-toggle="tooltip" data-placement="top" title="Click to change status">
                                            Tracked: {% if data['status'] == True %}NO{% else %}YES{% endif %}
                                        </a>

                                        <a class="btn btn-sm btn-rounded btn-info float-right"
                                           href="/edit_jackpot?instance_id={{data['instance_id']}}" data-toggle="tooltip" data-placement="top" title="Edit Jackpot details">
                                            Edit Jackpot
                                        </a>


                                        <a class="btn btn-sm btn-rounded btn-danger float-right"
                                           href="/delete_jackpot?instance_id={{data['instance_id']}}" data-toggle="tooltip" data-placement="top" title="Remove jakpot from tracking">
                                            Delete Jackpot
                                        </a>

                                    </div>
                                    <small class="card-footer text-muted">
                                        Last Updated : {{data['last_updated_at_natural']}}
                                        <br>
                                        Tracking Started : {{data['tracking_started_at']}}({{data['tracking_started_at_natural']}})

                                    </small>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- [ Hover-table ] end -->


                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>


<!-- Specific Page JS goes HERE  -->


</body>
</html>
